# fly.toml app configuration file generated for luca-gymapp on 2026-02-07T11:58:26+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'luca-gymapp'
primary_region = 'fra'

[build]
  dockerfile = 'Dockerfile'

[deploy]
  release_command = "/app/bin/luca_gymapp eval 'LucaGymapp.Release.migrate'"

[env]
  PHX_HOST = 'luca-gymapp.fly.dev'
  PHX_SERVER = 'true'

[http_service]
  internal_port = 4000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
